# Is my client going to exit my bank?

Exercise:
In the CSV file called *Churn_Modelling.csv* you will find information about different particulars, like:
- geography
- Gender
- Age
- Tenure
- ...

Your work as a Data Scientist in the bank is to build a model that detects whether a customer will leave the bank.
For that, the CSV file has a column named: EXITED, which tells you if the customer has left or not.

As it is trendy nowadays, your boss has told you to use DeepLearning.

Please, Remember the Universal **Workflow of ML** in order to handle this problem.

## Part1 - Data Preprocessing
Make use of the knowledge you already have to build:
- X_train, X_test, X_val
- y_train, y_test, y_val

Remember! you have Categorical data!

### importing Libraries

In [1]:
# Importing the libraries

### Importing the dataset

In [2]:
# Importing the dataset
import pandas as pd

df = pd.read_csv("Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
'''
We will delete the following columns that will not be relevant for our furture model:
- RowNumber
- CustomerId: unique number on each customer
- Surname: not relevant
'''

df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Handling Categorical values
which ones are categorical? how do we handle them? (did someone say One hot encoding?)

In [4]:
#Handle Categorical values

from sklearn.preprocessing import OneHotEncoder

num_cols = [
    "CreditScore", 
    "Age", 
    "Tenure", 
    "Balance", 
    "NumOfProducts", 
    "HasCrCard", 
    "IsActiveMember", 
    "EstimatedSalary"
]

cat_cols = [
    "Geography",
    "Gender"
]

df_num = df[num_cols]
df_cat = df[cat_cols]
df_target = df['Exited']

enc = OneHotEncoder(handle_unknown='ignore').fit(df_cat)
df_cat_encoded = pd.DataFrame(enc.transform(df_cat).toarray())

df_cat_encoded.head()

     0    1    2    3    4
0  1.0  0.0  0.0  1.0  0.0
1  0.0  0.0  1.0  1.0  0.0
2  1.0  0.0  0.0  1.0  0.0
3  1.0  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  1.0  0.0

In [5]:
df_final = pd.DataFrame(df_num)
df_final = df_final.join(df_cat_encoded)
df_final = df_final.join(df_target)
df_final

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,0,1,2,3,4,Exited
0,619,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0,1.0,0.0,1
1,608,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0,1.0,0.0,0
2,502,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0,1.0,0.0,1
3,699,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0,1.0,0.0,0
4,850,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1.0,0.0,0.0,0.0,1.0,0
9996,516,35,10,57369.61,1,1,1,101699.77,1.0,0.0,0.0,0.0,1.0,0
9997,709,36,7,0.00,1,0,1,42085.58,1.0,0.0,0.0,1.0,0.0,1
9998,772,42,3,75075.31,2,1,0,92888.52,0.0,1.0,0.0,0.0,1.0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1.0,0.0,0.0,1.0,0.0,0

### Split the data
please use random_state=42 in order to be able to compare all the solutions

In [6]:
# Splitting the dataset into the Training set, Test set and validation set
# please use random_state=42

from sklearn.model_selection import train_test_split

X = df_final.iloc[:,:-1]
y = df_final.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Remember, we should always scale the inputs for a Neural network

In [7]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

We have preprocessed the data! now, lets go to the second part!

## Part 2 - Lets Build our ANN

Always taking into account the Universal workflow of ML
you can use all the workflow, or only a part of it:


*   For example, Number 8, hyperparameter optimization is not mandatory, you can choose, if you think your model is good enogh, just don't do it
*   or... you don't have to use all the regularization techniques in step 7, choose the ones you think are the best, and try.
* **But I really think that step 1 through 6 and step 9 are always mandatory**

Evaluate your model on the test set! how accurate is it? which is the confussion matrix?

In [8]:
## Part 2 - Model building
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras.utils import plot_model
from tensorflow.keras.callbacks import EarlyStopping

nn = models.Sequential([
    layers.Dense(16, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dense(16, activation='relu'),
    layers.Dense(1, activation='sigmoid')
])

nn.compile(optimizer='rmsprop', loss='mean_squared_error', metrics=['binary_accuracy'])

EarlyStopping_CallBack = [EarlyStopping(monitor='val_loss', min_delta=0, patience=10, verbose=0, mode='auto', baseline=None)]
nn.fit(X_train, y_train, callbacks=EarlyStopping_CallBack, epochs=500, batch_size=512, validation_data=(X_test, y_test))

Train on 8000 samples, validate on 2000 samples
Epoch 1/500
8000/8000 [==============================] - 1s 85us/sample - loss: 0.2164 - binary_accuracy: 0.7115 - val_loss: 0.1914 - val_binary_accuracy: 0.7865
Epoch 2/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1837 - binary_accuracy: 0.7895 - val_loss: 0.1719 - val_binary_accuracy: 0.8025
Epoch 3/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1700 - binary_accuracy: 0.7946 - val_loss: 0.1616 - val_binary_accuracy: 0.8035
Epoch 4/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1618 - binary_accuracy: 0.7944 - val_loss: 0.1548 - val_binary_accuracy: 0.8055
Epoch 5/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.1558 - binary_accuracy: 0.7935 - val_loss: 0.1496 - val_binary_accuracy: 0.8040
Epoch 6/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1511 - binary_accuracy: 0.7961 - val_loss: 0.1454 - val_binary_accuracy: 0.8090
Epoch 7/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1471 - binary_accuracy: 0.7974 - val_loss: 0.1421 - val_binary_accuracy: 0.8105
Epoch 8/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1437 - binary_accuracy: 0.8011 - val_loss: 0.1391 - val_binary_accuracy: 0.8075
Epoch 9/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1406 - binary_accuracy: 0.8029 - val_loss: 0.1366 - val_binary_accuracy: 0.8095
Epoch 10/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.1382 - binary_accuracy: 0.8067 - val_loss: 0.1341 - val_binary_accuracy: 0.8105
Epoch 11/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1359 - binary_accuracy: 0.8106 - val_loss: 0.1321 - val_binary_accuracy: 0.8145
Epoch 12/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1339 - binary_accuracy: 0.8161 - val_loss: 0.1305 - val_binary_accuracy: 0.8170
Epoch 13/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1320 - binary_accuracy: 0.8201 - val_loss: 0.1288 - val_binary_accuracy: 0.8175
Epoch 14/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1303 - binary_accuracy: 0.8241 - val_loss: 0.1273 - val_binary_accuracy: 0.8210
Epoch 15/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1286 - binary_accuracy: 0.8261 - val_loss: 0.1258 - val_binary_accuracy: 0.8245
Epoch 16/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1271 - binary_accuracy: 0.8290 - val_loss: 0.1245 - val_binary_accuracy: 0.8260
Epoch 17/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.1256 - binary_accuracy: 0.8329 - val_loss: 0.1230 - val_binary_accuracy: 0.8285
Epoch 18/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1242 - binary_accuracy: 0.8351 - val_loss: 0.1219 - val_binary_accuracy: 0.8305
Epoch 19/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1229 - binary_accuracy: 0.8365 - val_loss: 0.1208 - val_binary_accuracy: 0.8345
Epoch 20/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1215 - binary_accuracy: 0.8391 - val_loss: 0.1194 - val_binary_accuracy: 0.8360
Epoch 21/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1201 - binary_accuracy: 0.8413 - val_loss: 0.1182 - val_binary_accuracy: 0.8395
Epoch 22/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1189 - binary_accuracy: 0.8436 - val_loss: 0.1170 - val_binary_accuracy: 0.8420
Epoch 23/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1177 - binary_accuracy: 0.8451 - val_loss: 0.1163 - val_binary_accuracy: 0.8415
Epoch 24/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1166 - binary_accuracy: 0.8462 - val_loss: 0.1148 - val_binary_accuracy: 0.8470
Epoch 25/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1154 - binary_accuracy: 0.8474 - val_loss: 0.1139 - val_binary_accuracy: 0.8460
Epoch 26/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1143 - binary_accuracy: 0.8499 - val_loss: 0.1135 - val_binary_accuracy: 0.8475
Epoch 27/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1133 - binary_accuracy: 0.8506 - val_loss: 0.1121 - val_binary_accuracy: 0.8470
Epoch 28/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1124 - binary_accuracy: 0.8526 - val_loss: 0.1115 - val_binary_accuracy: 0.8520
Epoch 29/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1115 - binary_accuracy: 0.8521 - val_loss: 0.1106 - val_binary_accuracy: 0.8505
Epoch 30/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1108 - binary_accuracy: 0.8539 - val_loss: 0.1102 - val_binary_accuracy: 0.8535
Epoch 31/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1099 - binary_accuracy: 0.8545 - val_loss: 0.1096 - val_binary_accuracy: 0.8525
Epoch 32/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1093 - binary_accuracy: 0.8569 - val_loss: 0.1090 - val_binary_accuracy: 0.8520
Epoch 33/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1086 - binary_accuracy: 0.8572 - val_loss: 0.1085 - val_binary_accuracy: 0.8535
Epoch 34/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1081 - binary_accuracy: 0.8581 - val_loss: 0.1081 - val_binary_accuracy: 0.8525
Epoch 35/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1076 - binary_accuracy: 0.8591 - val_loss: 0.1081 - val_binary_accuracy: 0.8535
Epoch 36/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1072 - binary_accuracy: 0.8596 - val_loss: 0.1075 - val_binary_accuracy: 0.8540
Epoch 37/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1067 - binary_accuracy: 0.8606 - val_loss: 0.1071 - val_binary_accuracy: 0.8525
Epoch 38/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1063 - binary_accuracy: 0.8604 - val_loss: 0.1067 - val_binary_accuracy: 0.8545
Epoch 39/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1059 - binary_accuracy: 0.8601 - val_loss: 0.1068 - val_binary_accuracy: 0.8535
Epoch 40/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1056 - binary_accuracy: 0.8615 - val_loss: 0.1063 - val_binary_accuracy: 0.8560
Epoch 41/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1053 - binary_accuracy: 0.8621 - val_loss: 0.1062 - val_binary_accuracy: 0.8570
Epoch 42/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1050 - binary_accuracy: 0.8614 - val_loss: 0.1060 - val_binary_accuracy: 0.8570
Epoch 43/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1048 - binary_accuracy: 0.8609 - val_loss: 0.1061 - val_binary_accuracy: 0.8590
Epoch 44/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1045 - binary_accuracy: 0.8615 - val_loss: 0.1054 - val_binary_accuracy: 0.8580
Epoch 45/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1043 - binary_accuracy: 0.8618 - val_loss: 0.1055 - val_binary_accuracy: 0.8580
Epoch 46/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1041 - binary_accuracy: 0.8621 - val_loss: 0.1054 - val_binary_accuracy: 0.8600
Epoch 47/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1039 - binary_accuracy: 0.8609 - val_loss: 0.1055 - val_binary_accuracy: 0.8590
Epoch 48/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1037 - binary_accuracy: 0.8625 - val_loss: 0.1052 - val_binary_accuracy: 0.8580
Epoch 49/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1035 - binary_accuracy: 0.8621 - val_loss: 0.1057 - val_binary_accuracy: 0.8595
Epoch 50/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1034 - binary_accuracy: 0.8630 - val_loss: 0.1054 - val_binary_accuracy: 0.8600
Epoch 51/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1032 - binary_accuracy: 0.8630 - val_loss: 0.1049 - val_binary_accuracy: 0.8575
Epoch 52/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1031 - binary_accuracy: 0.8615 - val_loss: 0.1052 - val_binary_accuracy: 0.8605
Epoch 53/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1029 - binary_accuracy: 0.8630 - val_loss: 0.1050 - val_binary_accuracy: 0.8590
Epoch 54/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1027 - binary_accuracy: 0.8633 - val_loss: 0.1046 - val_binary_accuracy: 0.8610
Epoch 55/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1026 - binary_accuracy: 0.8644 - val_loss: 0.1044 - val_binary_accuracy: 0.8610
Epoch 56/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1025 - binary_accuracy: 0.8637 - val_loss: 0.1048 - val_binary_accuracy: 0.8605
Epoch 57/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1024 - binary_accuracy: 0.8627 - val_loss: 0.1049 - val_binary_accuracy: 0.8635
Epoch 58/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1023 - binary_accuracy: 0.8641 - val_loss: 0.1046 - val_binary_accuracy: 0.8615
Epoch 59/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.1022 - binary_accuracy: 0.8636 - val_loss: 0.1048 - val_binary_accuracy: 0.8630
Epoch 60/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1020 - binary_accuracy: 0.8644 - val_loss: 0.1043 - val_binary_accuracy: 0.8625
Epoch 61/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1020 - binary_accuracy: 0.8641 - val_loss: 0.1047 - val_binary_accuracy: 0.8635
Epoch 62/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1018 - binary_accuracy: 0.8640 - val_loss: 0.1045 - val_binary_accuracy: 0.8625
Epoch 63/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1017 - binary_accuracy: 0.8637 - val_loss: 0.1043 - val_binary_accuracy: 0.8630
Epoch 64/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1017 - binary_accuracy: 0.8645 - val_loss: 0.1043 - val_binary_accuracy: 0.8635
Epoch 65/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1015 - binary_accuracy: 0.8646 - val_loss: 0.1045 - val_binary_accuracy: 0.8620
Epoch 66/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1014 - binary_accuracy: 0.8658 - val_loss: 0.1042 - val_binary_accuracy: 0.8620
Epoch 67/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1014 - binary_accuracy: 0.8654 - val_loss: 0.1042 - val_binary_accuracy: 0.8615
Epoch 68/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1013 - binary_accuracy: 0.8659 - val_loss: 0.1050 - val_binary_accuracy: 0.8605
Epoch 69/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1011 - binary_accuracy: 0.8664 - val_loss: 0.1042 - val_binary_accuracy: 0.8590
Epoch 70/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1011 - binary_accuracy: 0.8654 - val_loss: 0.1043 - val_binary_accuracy: 0.8605
Epoch 71/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.1010 - binary_accuracy: 0.8662 - val_loss: 0.1044 - val_binary_accuracy: 0.8605
Epoch 72/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1009 - binary_accuracy: 0.8661 - val_loss: 0.1049 - val_binary_accuracy: 0.8600
Epoch 73/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1009 - binary_accuracy: 0.8661 - val_loss: 0.1043 - val_binary_accuracy: 0.8590
Epoch 74/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1008 - binary_accuracy: 0.8652 - val_loss: 0.1042 - val_binary_accuracy: 0.8590
Epoch 75/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1007 - binary_accuracy: 0.8662 - val_loss: 0.1043 - val_binary_accuracy: 0.8600
Epoch 76/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1006 - binary_accuracy: 0.8662 - val_loss: 0.1044 - val_binary_accuracy: 0.8605
Epoch 77/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1005 - binary_accuracy: 0.8665 - val_loss: 0.1043 - val_binary_accuracy: 0.8605
Epoch 78/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1006 - binary_accuracy: 0.8651 - val_loss: 0.1044 - val_binary_accuracy: 0.8605
Epoch 79/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1004 - binary_accuracy: 0.8674 - val_loss: 0.1048 - val_binary_accuracy: 0.8590

## Part 3 - Make a prediction

Could you pleas tell me if this person will leave the bank or not?

- Credit = 600
- Geography= France
- Gender = Male
- Age= 40
- Tenure= 3
- Balance= 60000
- NumOfProducts=2
- HasCard=1
- IsActiveMember = 1
- EstimatedSalary=50000

In [9]:
num_cols = {
    "CreditScore": 600, 
    "Age": 40, 
    "Tenure": 3, 
    "Balance": 60000, 
    "NumOfProducts": 2, 
    "HasCrCard": 1, 
    "IsActiveMember": 1, 
    "EstimatedSalary": 50000
}

cat_cols = {
    "Geography": "France",
    "Gender": "Male"
}

df_num = pd.DataFrame(num_cols, index=[0])
df_cat = pd.DataFrame(cat_cols, index=[0])

# encode categorical data
df_cat = pd.DataFrame(enc.transform(df_cat).toarray())

# build final df
df_final = pd.DataFrame(df_num)
df_final = df_final.join(df_cat)
df_final

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,0,1,2,3,4
0,600,40,3,60000,2,1,1,50000,1.0,0.0,0.0,0.0,1.0

In [11]:
nn.predict(df_final.values)

array([[0.]], dtype=float32)

In [12]:
nn.predict_classes(df_final.values)

array([[0]])